<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="XamarinTextRecognitionCamera.XamarinTextRecognitionCamera" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="16" />
  <uses-permission android:name="android.permission.CAMERA"/>
  <application android:label="XamarinTextRecognitionCamera">

    <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES"
               android:value="ocr"/>
    
    
  </application>
</manifest>